*{
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.spinner{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    position: relative;
}

.spinner-text{
    font-size: 2em;
    animation: fading 4s ease-in-out infinite;
}

.sector{
   border-radius: 50%; 
   /* background-color: red; */
   position: absolute;
   width: 100%;
   height: 100%;
   border: 15px solid transparent;
   mix-blend-mode: overlay;
}

.sector-blue{
    animation: rotate 1.5s ease-in-out infinite;
    border-top: 15px solid lightblue;
}

.sector-red{
    animation: rotate 2.5s ease-in infinite;
    border-top: 15px solid lightcoral;
}

.sector-green{
    animation: rotate 2s ease-out infinite;
    border-top: 15px solid lightgreen;
}

@keyframes rotate {
    from{ transform: rotate(0);}
    to{ transform: rotate(360deg);}
}

@keyframes fading {
    0%,100%{
        opacity: 1;
    }
    25%,75%{
        opacity: .5;
    }
    50%{
        opacity: .1;
    }
}